.JESUS{
color: aliceblue;
background-color: blue;
}

.destaque{
    color: red;
}
.destaque2{
 color: red;
}
body{
    background-color: #E3F2FD;
}

.my_luv{
    background-color: white;
}
#nigga{
    color: #76E1FF;
}
#wow{
    background-color: #0D47A1;
}
.ravioli{
 color: #76E1FF;
 background-color: blue;
}