.rafa{
    color: white;
    background-color: #1A1A2E;
}
.RAfa{
color: #00D4FF;
}
.pquadrado{
    background-color: #1565C0;
    padding: 30px
}
.santos{
    margin: 12px;
background-color: #2E7D32;
}
.rafifi{
background-color: #E65100;
padding: 16px;
}