#first{
    color: #0000FF;
    font-size: 64px;
    font-weight: 700;
}#alt{
    color: #178FFF(212, 100%, 50%);
    font-size: 24px
    font-style: bold:

}
.second{
    font-size: 22px;
    font-weight: 700;
    font-style: italic;
}